<extend name="Base/common"/>

<block name="body">

	<include file="User/top"/>
		
	<div class="color">
		<p class="p9 clear"><a href="{:U('User/index')}">个人中心</a> &gt; <a href="{:U('Pay/wallet')}">我的钱包</a> &gt;<a href="#">{:$meta_title}</a></p>
		
		<p class="chong">{:$meta_title}<span>共{:$count}条</span></p>
		
		<p class="p16">
		   <a href="#">序号</a>
		   <a href="#">编号</a>
		   <a href="#">金额</a>
		   <a href="#">时间</a>
		</p>
         
		<volist name="list" id="data">
		 <p class="p16">
		    <a href="#">{:$data['id']}</a>
		    <a href="#">{:$data['site_order']}</a>
		    <a href="#">{:$data['pay_money']}元</a>
		    <a href="#">{:time_format($data['create_time'])}</a>
		 </p>
		
		</volist>
		
		{:$_page}
	
	</div><!--color end-->

</block>

