<extend name="Base/common"/>

<block name="body">

		<include file="top"/>
		
		<div class="color">
			<ul>
			   <li><img src="__IMG__/7_03.png"><a href="{:U('Pay/wallet')}">我的钱包</a></li>
			   <li><img src="__IMG__/7_07.png"><a href="{:U('User/feedback')}">我的意见、反馈</a></li>
			   <li><img src="__IMG__/7_11.png"><a href="#">我的对比</a></li>
			   <li><img src="__IMG__/7_13.png"><a href="#">我的相册</a></li>
			   <li><img src="__IMG__/7_16.png"><a href="#">我的饮食计划</a></li>
			   <li><img src="__IMG__/7_20.png"><a href="#">我的健身计划</a></li> 
			   <li><img src="__IMG__/7_24.png"><a href="{:U('User/edit')}">我的资料</a></li>
			</ul>
		</div><!--color end-->
		

</block>

<block name="script">
</block>